@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Nunito+Sans:opsz@6..12&family=Poppins:wght@300&family=Roboto+Condensed:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ===========================================
Resetting default styles
======================================= */

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style-type: none;
}

a:active,
a:link,
a:visited {
  text-decoration: none;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

/* ===========================================
Reusable Class
======================================= */

.box-wrapper {
  padding: 0 4.8rem;
}

/* ===========================================
Navbar Section Start
======================================= */

.header {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2599ed;
}

.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 5rem;
  z-index: 1000;
}

.header .logo img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.navbar-list {
  display: flex;
  gap: 4rem;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #f9f9f9;
  transition: all ease 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #0f0f10;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* ===========================================
Our Main Hero Section Start
======================================= */

.home-section {
  height: calc(100vh - 7rem); 
  background-color: #f2f2f2;
}

.home-section .content {
  padding-top: 5rem;
}

.home-section .content marquee .main-heading{
  letter-spacing: 0.4rem;
  word-spacing: 1.8rem;
  font-size: 5rem;
}

.home-section .content marquee .main-heading span {
  color: rgb(214, 46, 24);
}

.home-section .content p {
  text-align: center;
  padding-top: 12rem;
  font-size: 3rem;
}

/* ===========================================
About Section Start
======================================= */

.about-section {
  width: 100%;
  height: 40rem;
  background-color: #c4c9cd;
}

.company-name {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.welcome-section {
  width: 100%;
  height: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-section .welcome-para {
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 4rem;
} 

/* ===========================================
Services Section Start
======================================= */

.container {
  background: linear-gradient(45deg, rgb(44, 41, 47), rgb(195, 171, 171));
  padding-bottom: 5rem;
}

.heading {
  padding-top: 2rem;
  text-align: center;
  padding-bottom: 2rem;
  color: #0d0d0d;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .box-container {
  display: flex;
  justify-content: space-around;
  gap: 10rem;
  flex-wrap: wrap;
  overflow: hidden;
}

.container .box-container .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background: #fff;
  text-align: center;
  height: 50rem;
  overflow: hidden;
  width: 40rem;
}

.container .box-container .box img {
  object-fit: cover;
  height: 50%;
  width: 100%;
  /* border-radius: 20px; */
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition: all ease 0.7s;
}

.container .box-container .box h3 {
  color: #0b0b0b;
  /* font-size: 22px; */
  padding: 10px 0;
  text-align: center;
}

.container .box-container .box p {
  color: #0c0c0c;
  /* font-size: 15px; */
  line-height: 1.8;
}

.container .box-container .box:hover img {
  box-shadow: 0 10px 15px rgba(120, 107, 107, 0.3);
  transform: scale(1.02);
}

/*======================================== 
Our Contact Us Section Start
======================================== */

.contact-us {
  background-color: #bbe5ef;
  padding-bottom: 6rem;
}

.contact {
  padding-top: 2rem;
  text-align: center;
  padding-bottom: 2rem;
  color: #0d0d0d;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contact-us-para {
  text-align: center;
  padding-bottom: 4rem;
}

.contact-us .data {
  margin: auto;
  width: 40rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.5rem black;
  border-radius: 2rem;
  height: 30rem;
  justify-content: space-around;
  text-align: center;
}

.contact-us .data .data1 p a {
  color: #0b0b0b;
}

/* ===========================================
Responsive Codes 
======================================= */

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  .box-wrapper {
    padding: 0 2.4rem;
  }

  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 0.3rem solid #212529;
    color: #212529;
  }

  .header {
    position: relative;
  }

  .navbar {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #2599ed;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 999;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  .container {
    padding-bottom: 5rem;
  }

  .contact-us {
    padding-bottom: 5rem;
  }

  .contact-us .data {
    width: 30rem;
  }

  .container .box-container {
    gap: 5rem;
  }

  .about-section {
    height: 70rem;
  }

  .welcome-section {
    height: 60rem;
  }
}
